:root {
  --deep-green: rgba(126, 171, 58, 1);
  --grey: rgba(213, 221, 224, 1);
  --grey-2: rgba(151, 173, 182, 1);
  --black: rgba(62, 73, 88, 1);
  --grey-3: rgba(247, 248, 249, 1);
  --violet: rgba(129, 85, 255, 1);
  --yellow: rgba(255, 184, 0, 1);
  --premium-red: rgba(235, 0, 27, 1);
  --15-text-bold-font-family: "Inter-Bold", Helvetica;
  --15-text-bold-font-weight: 700;
  --15-text-bold-font-size: 15px;
  --15-text-bold-letter-spacing: 0px;
  --15-text-bold-line-height: normal;
  --15-text-bold-font-style: normal;
  --15-text-reg-font-family: "Inter-Regular", Helvetica;
  --15-text-reg-font-weight: 400;
  --15-text-reg-font-size: 15px;
  --15-text-reg-letter-spacing: 0px;
  --15-text-reg-line-height: 136.00000143051147%;
  --15-text-reg-font-style: normal;
  --13-text-reg-font-family: "Inter-Regular", Helvetica;
  --13-text-reg-font-weight: 400;
  --13-text-reg-font-size: 13px;
  --13-text-reg-letter-spacing: 0px;
  --13-text-reg-line-height: 139.9999976158142%;
  --13-text-reg-font-style: normal;
  --heading-2-font-family: "Inter-Bold", Helvetica;
  --heading-2-font-weight: 700;
  --heading-2-font-size: 18px;
  --heading-2-letter-spacing: 0.20000000298023224px;
  --heading-2-line-height: 28px;
  --heading-2-font-style: normal;
  --heading-3-font-family: "PTSans-Bold", Helvetica;
  --heading-3-font-weight: 700;
  --heading-3-font-size: 13px;
  --heading-3-letter-spacing: 0px;
  --heading-3-line-height: 20px;
  --heading-3-font-style: normal;
  --heading-1-font-family: "PTSans-Bold", Helvetica;
  --heading-1-font-weight: 700;
  --heading-1-font-size: 20px;
  --heading-1-letter-spacing: 0px;
  --heading-1-line-height: 28px;
  --heading-1-font-style: normal;
  --11-text-reg-font-family: "Inter-Regular", Helvetica;
  --11-text-reg-font-weight: 400;
  --11-text-reg-font-size: 11px;
  --11-text-reg-letter-spacing: 0.4000000059604645px;
  --11-text-reg-line-height: 22px;
  --11-text-reg-font-style: normal;
}
