.menu {
  background-color: #dadada;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.menu .overlap-wrapper {
  background-color: #dadada;
  width: 1600px;
  height: 900px;
}

.menu .overlap {
  position: relative;
  width: 1520px;
  height: 820px;
  top: 40px;
  left: 40px;
  background-color: #ffffff;
  border-radius: 25px;
}

.menu .view {
  position: absolute;
  width: 520px;
  height: 64px;
  top: 685px;
  left: 501px;
}

.menu .overlap-group {
  position: relative;
  width: 534px;
  height: 80px;
  top: -6px;
  left: -8px;
  background-image: url(./img/btn-bg.svg);
  background-size: 100% 100%;
}

.menu .text-wrapper {
  height: 38px;
  top: 19px;
  left: 214px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 28px;
  line-height: 38.1px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.menu .overlap-group-wrapper {
  position: absolute;
  width: 897px;
  height: 619px;
  top: 61px;
  left: 312px;
}

.menu .div {
  position: relative;
  width: 895px;
  height: 619px;
}

.menu .block {
  position: absolute;
  width: 895px;
  height: 619px;
  top: 0;
  left: 0;
}

.menu .group {
  height: 619px;
}

.menu .overlap-2 {
  position: relative;
  width: 897px;
  height: 619px;
}

.menu .bg {
  position: absolute;
  width: 897px;
  height: 619px;
  top: 0;
  left: 0;
}

.menu .overlap-group-2 {
  position: relative;
  width: 955px;
  height: 649px;
  top: -30px;
  left: -30px;
}

.menu .rec {
  position: absolute;
  width: 955px;
  height: 633px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.menu .shape {
  position: absolute;
  width: 895px;
  height: 18px;
  top: 631px;
  left: 30px;
  object-fit: cover;
}

.menu .text-wrapper-2 {
  width: 339px;
  top: 217px;
  left: 307px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 32px;
  line-height: 42.6px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.menu .payment {
  position: absolute;
  width: 787px;
  height: 72px;
  top: 445px;
  left: 54px;
}

.menu .bg-2 {
  position: relative;
  width: 789px;
  height: 62px;
  top: 5px;
  left: -1px;
  background-color: var(--grey-3);
  border-radius: 15px;
}

.menu .route-details {
  position: absolute;
  width: 795px;
  height: 174px;
  top: 251px;
  left: 54px;
}

.menu .overlap-3 {
  position: relative;
  width: 788px;
  height: 175px;
  top: -1px;
  left: -1px;
  background-image: url(./img/bg.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.menu .set-your-location {
  position: absolute;
  width: 78px;
  top: 28px;
  left: 43px;
  font-family: var(--13-text-reg-font-family);
  font-weight: var(--13-text-reg-font-weight);
  color: var(--grey-2);
  font-size: var(--13-text-reg-font-size);
  letter-spacing: var(--13-text-reg-letter-spacing);
  line-height: var(--13-text-reg-line-height);
  white-space: nowrap;
  font-style: var(--13-text-reg-font-style);
}

.menu .set-your-location-2 {
  position: absolute;
  width: 86px;
  top: 125px;
  left: 44px;
  font-family: var(--13-text-reg-font-family);
  font-weight: var(--13-text-reg-font-weight);
  color: var(--grey-2);
  font-size: var(--13-text-reg-font-size);
  letter-spacing: var(--13-text-reg-letter-spacing);
  line-height: var(--13-text-reg-line-height);
  white-space: nowrap;
  font-style: var(--13-text-reg-font-style);
}

.menu .address {
  width: 553px;
  top: 121px;
  left: 218px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 15px;
  line-height: 20.4px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.menu .text {
  width: 500px;
  top: 27px;
  left: 218px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: var(--black);
  font-size: 15px;
  line-height: 20.4px;
  position: absolute;
  letter-spacing: 0;
}

.menu .ic-route {
  position: absolute;
  width: 51px;
  height: 105px;
  top: 30px;
  left: 147px;
}

.menu .ic-success {
  position: absolute;
  width: 132px;
  height: 130px;
  top: 43px;
  left: 382px;
}

.menu .group-2 {
  position: absolute;
  width: 163px;
  height: 49px;
  top: 457px;
  left: 73px;
}

.menu .text-wrapper-3 {
  height: 24px;
  top: 14px;
  left: 76px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  line-height: 24.5px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.menu .cards {
  position: absolute;
  width: 49px;
  height: 49px;
  top: 0;
  left: 0;
  background-image: url(./img/ic-mastercard-2.svg);
  background-size: 100% 100%;
}

.menu .text-wrapper-4 {
  height: 30px;
  top: 469px;
  left: 730px;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 22px;
  line-height: 29.9px;
  position: absolute;
  letter-spacing: 0;
  white-space: nowrap;
}

.menu .nav-btn {
  position: absolute;
  width: 64px;
  height: 64px;
  top: 29px;
  left: 34px;
}

.menu .ic-menu-wrapper {
  position: relative;
  width: 66px;
  height: 66px;
  top: -1px;
  left: -1px;
  background-color: #ffffff;
  border-radius: 33px;
  box-shadow: 0px 4px 15px #00000026;
}

.menu .ic-menu {
  position: absolute;
  width: 53px;
  height: 53px;
  top: 6px;
  left: 6px;
}

.menu .blackout {
  position: absolute;
  width: 1520px;
  height: 820px;
  top: 0;
  left: 0;
  background-color: #3e4958cc;
  border-radius: 25px;
}

.menu .rectangle {
  height: 820px;
  background-color: #ffffff;
  border-radius: 25px 0px 0px 25px;
  position: absolute;
  width: 860px;
  top: 0;
  left: 0;
}

.menu .bage {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 532px;
  left: 781px;
}

.menu .overlap-4 {
  position: relative;
  width: 52px;
  height: 52px;
}

.menu .bound {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  background-color: #ffffff03;
}

.menu .rec-2 {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 8px;
  left: 8px;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0px 4px 15px #00000026;
}

.menu .rectangle-2 {
  height: 311px;
  background-color: #7eab3a;
  border-radius: 25px 0px 0px 0px;
  position: absolute;
  width: 860px;
  top: 0;
  left: 0;
}

.menu .photo-user {
  position: absolute;
  width: 228px;
  height: 228px;
  top: 39px;
  left: 39px;
}

.menu .text-wrapper-5 {
  top: 82px;
  left: 331px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 32px;
  line-height: 43.5px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.menu .text-wrapper-6 {
  position: absolute;
  top: 131px;
  left: 331px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 38.1px;
  white-space: nowrap;
}

.menu .text-wrapper-7 {
  top: 376px;
  left: 39px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  line-height: 32.6px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.menu .text-wrapper-8 {
  top: 460px;
  left: 39px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  line-height: 32.6px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.menu .text-wrapper-9 {
  top: 544px;
  left: 39px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #7eab3a;
  font-size: 24px;
  line-height: 32.6px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.menu .text-wrapper-10 {
  top: 628px;
  left: 39px;
  font-family: "Montserrat", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 24px;
  line-height: 32.6px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.menu .text-wrapper-11 {
  top: 753px;
  left: 714px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #7eab3a;
  font-size: 24px;
  line-height: 32.6px;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
}

.menu .line {
  position: absolute;
  width: 91px;
  height: 1px;
  top: 782px;
  left: 715px;
  object-fit: cover;
}

.menu .text-wrapper-12 {
  position: absolute;
  height: 24px;
  top: 549px;
  left: 804px;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
