
.www-blablacar-com-ua {
  display: flex;
  flex-direction: column;
  min-height: 1748px;
  align-items: flex-start;
  position: relative;
  left: 500px;
  background-color: var(--wwwblablacarcomuanero);
}

.www-blablacar-com-ua .header {
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  z-index: 1;
  left: -290px;
  background-color: var(--wwwblablacarcomuanero);
}

.www-blablacar-com-ua .div-kirk-topbar {
  display: flex;
  width: 976px;
  align-items: flex-start;
  position: relative;
}

.www-blablacar-com-ua .div-kirk-topbar-left {
  display: flex;
  gap: 24px;
  padding: 0px 181.34px 0px 0px;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  align-items: flex-start;
  position: relative;
}

.www-blablacar-com-ua .link {
  position: relative;
  max-width: 579.28px;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .span-sc-wrapper {
  display: inline-flex;
  max-width: 579.28px;
  align-items: center;
  padding: 12px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 9999px;
  overflow: hidden;
}

.www-blablacar-com-ua .span-sc {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .div-sc {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: rgb(21 123 15);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.www-blablacar-com-ua .text-wrapper-1 {
  position: relative;
  width: fit-content;
  margin-top: 9px;
  font-family: "GT Eesti Pro Display-Medium", Helvetica;
  font-weight: 50;
  color: rgb(21 123 15);
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.www-blablacar-com-ua .span-sc-zpmp-wrapper {
  display: inline-flex;
  max-width: 579.28px;
  align-items: center;
  padding: 12px 0px;
  position: relative;
  flex: 0 0 auto;
  margin-right: -0.23px;
  border-radius: 9999px;
  overflow: hidden;
}

.www-blablacar-com-ua .div {
  display: inline-flex;
  justify-content: flex-end;
  gap: 24px;
  align-self: stretch;
  flex: 0 0 auto;
  align-items: flex-start;
  position: relative;
}

.www-blablacar-com-ua .link-2 {
  position: relative;
  align-self: stretch;
  max-width: 396.72px;
  width: 81.89px;
  border-radius: 9999px;
  overflow: hidden;
}

.www-blablacar-com-ua .span-sc-zpmp {
  top: 12px;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
}

.www-blablacar-com-ua .span {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .SVG-margin {
  position: relative;
  width: 32px;
  object-fit: cover;
}

.www-blablacar-com-ua .div-sc-nvtbm {
  margin-left: -0.38px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .link-3 {
  display: inline-flex;
  max-width: 396.72px;
  align-items: center;
  padding: 12px 0px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 9999px;
  overflow: hidden;
}

.www-blablacar-com-ua .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .div-sc-qqzq {
  position: relative;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .main {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 4233.7px;
  z-index: 0;
}

.www-blablacar-com-ua .section {
  position: absolute;
  width: 1024px;
  height: 2717px;
  top: 843px;
  left: 0;
}

.www-blablacar-com-ua .article {
  width: 1024px;
  padding: 24px 24px 48px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--wwwblablacarcomuanero);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .div-wrapper-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .div-2 {
  display: flex;
  flex-direction: column;
  max-width: 1016px;
  width: 976px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .list {
  display: flex;
  align-items: flex-start;
  padding: 0px 0.01px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-margin {
  display: flex;
  flex-direction: column;
  width: 341.33px;
  align-items: flex-start;
  padding: 0px 48px 0px 0px;
  position: relative;
}

.www-blablacar-com-ua .item {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 183px;
}

.www-blablacar-com-ua .div-sc-nmqxa {
  position: absolute;
  width: 293px;
  height: 43px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.www-blablacar-com-ua .p-sc {
  display: flex;
  width: 341px;
  padding: 8px 39.33px 4px 0px;
  position: absolute;
  top: 51px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: var(--wwwblablacarcomuateal-blue);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
}

.www-blablacar-com-ua .p-sc-fnb {
  display: flex;
  width: 305px;
  padding: 0px 8.33px 0px 0px;
  position: absolute;
  top: 85px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .p {
  position: relative;
  width: fit-content;
  margin-top: 24px;
  font-family: "GT Eesti Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--wwwblablacarcomuajuniper);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.www-blablacar-com-ua .p-sc-2 {
  display: flex;
  width: 293px;
  padding: 8px 58.33px 4px 0px;
  position: absolute;
  top: 51px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: var(--wwwblablacarcomuateal-blue);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.www-blablacar-com-ua .p-sc-3 {
  display: flex;
  width: 305px;
  padding: 0px 5.33px 0px 0px;
  position: absolute;
  top: 83px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .item-2 {
  position: relative;
  align-self: stretch;
  width: 293.33px;
}

.www-blablacar-com-ua .p-sc-4 {
  display: flex;
  width: 306px;
  padding: 8px 27.33px 4px 0px;
  position: absolute;
  top: 51px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .p-sc-5 {
  display: flex;
  width: 312px;
  padding: 0px 1.33px 0px 0px;
  position: absolute;
  top: 84px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .div-sc-skrkj {
  display: flex;
  flex-direction: column;
  width: 1024px;
  align-items: flex-start;
  padding: 0px 24px;
  position: absolute;
  top: 279px;
  left: 0;
  background-color: var(--wwwblablacarcomuanero);
}

.www-blablacar-com-ua .article-2 {
  display: flex;
  align-items: center;
  gap: 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .img {
  position: relative;
  width: 476px;
  min-height: 320px;
}

.www-blablacar-com-ua .div-sc-2 {
  display: flex;
  flex-direction: column;
  width: 476px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.www-blablacar-com-ua .span-sc-fnb {
  position: relative;
  width: 476px;
  height: 72px;
}

.www-blablacar-com-ua .span-sc-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: -2px 99px 0px 0px;
  position: relative;
  top: -1px;
}

.www-blablacar-com-ua .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: var(--wwwblablacarcomuateal-blue);
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
}

.www-blablacar-com-ua .p-sc-wrapper {
  display: inline-flex;
  padding: 0px 0px 16px;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .superhumans-wrapper {
  display: inline-flex;
  padding: -4px 5px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .div-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .link-4 {
  display: inline-flex;
  min-width: 48px;
  max-width: 144.75px;
  align-items: center;
  padding: 12px 25px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgb(21 123 15);
  border-radius: 9999px;
  overflow: hidden;
}

.www-blablacar-com-ua .span-sc-3 {
  justify-content: center;
  flex: 0 0 auto;
  margin-right: -0.25px;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
}

.www-blablacar-com-ua .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: var(--wwwblablacarcomuanero);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.www-blablacar-com-ua .presentation-sc-wrapper {
  top: 634px;
  background-color: rgb(30 51 29);
  display: flex;
  flex-direction: column;
  width: 1024px;
  align-items: flex-start;
  padding: 0px 24px;
  position: absolute;
  left: 0;
}

.www-blablacar-com-ua .div-sc-3 {
  height: 228px;
  z-index: 1;
  position: relative;
  width: 476px;
}

.www-blablacar-com-ua .span-sc-4 {
  display: flex;
  width: 422px;
  padding: 0px 0px 8px;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -1.05px;
  font-family: "GT Eesti Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: var(--wwwblablacarcomuanero);
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.www-blablacar-com-ua .p-sc-fnb-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 16px;
  position: absolute;
  top: 40px;
  left: 0;
}

.www-blablacar-com-ua .bla-bla-car-wrapper {
  display: inline-flex;
  padding: 0px 188px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .bla-bla-car {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--wwwblablacarcomuanero);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.www-blablacar-com-ua .link-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 24px;
  position: absolute;
  top: 223px;
  left: 43px;
}

.www-blablacar-com-ua .link-5 {
  display: inline-flex;
  min-width: 48px;
  max-width: 176.55px;
  align-items: center;
  padding: 12px 25px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgb(21 123 15);
  border-radius: 9999px;
  overflow: hidden;
}

.www-blablacar-com-ua .span-sc-5 {
  justify-content: center;
  flex: 0 0 auto;
  margin-right: -0.45px;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
}

.www-blablacar-com-ua .div-sc-4 {
  z-index: 0;
  position: relative;
  width: 476px;
  min-height: 320px;
}

.www-blablacar-com-ua .div-sc-5 {
  top: 978px;
  background-color: var(--wwwblablacarcomuanero);
  display: flex;
  flex-direction: column;
  width: 1024px;
  align-items: flex-start;
  padding: 0px 24px;
  position: absolute;
  left: 0;
}

.www-blablacar-com-ua .bus-sidecar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 476px;
  min-height: 320px;
}

.www-blablacar-com-ua .bus-sidecar {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 331.13px;
  border-radius: 8px;
  background-image: url(./img/bus-sidecar-8a3645d88c7ddc11af88-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.www-blablacar-com-ua .span-sc-6 {
  display: inline-flex;
  padding: 0px 58px 0px 0px;
  top: -1px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 1000px;
}

.www-blablacar-com-ua .p-sc-6 {
  display: inline-flex;
  padding: 0px 46px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  width: 485px;
  margin-top: -8px;
}

.www-blablacar-com-ua .link-6 {
  display: inline-flex;
  min-width: 48px;
  max-width: 288.02px;
  align-items: center;
  padding: 12px 25px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgb(21 123 15);
  border-radius: 9999px;
  overflow: hidden;
}

.www-blablacar-com-ua .span-sc-7 {
  justify-content: center;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
}

.www-blablacar-com-ua .div-sc-wrapper {
  top: 1333px;
  display: flex;
  flex-direction: column;
  width: 1024px;
  align-items: center;
  padding: 0px 24px;
  position: absolute;
  left: 0;
  background-color: rgb(35, 59, 34);
}

.www-blablacar-com-ua .div-4 {
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .heading {
  flex-direction: column;
  padding: 24px 682px 24px 0px;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.www-blablacar-com-ua .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: var(--wwwblablacarcomuanero);
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.www-blablacar-com-ua .list-2 {
  display: flex;
  align-items: flex-start;
  gap: 2px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
}

.www-blablacar-com-ua .item-3 {
  display: flex;
  flex-direction: column;
  width: 314.66px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
}

.www-blablacar-com-ua .link-7 {
  display: flex;
  min-height: 85.5px;
  align-items: center;
  padding: 16px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--wwwblablacarcomuanero);
  border-radius: 16px;
}

.www-blablacar-com-ua .span-kirk-item {
  position: relative;
  flex: 1;
  flex-grow: 1;
  max-height: 41.4px;
  height: 20px;
}

.www-blablacar-com-ua .span-sc-jatzg {
  top: -1px;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
}

.www-blablacar-com-ua .span-sc-8 {
  padding: 0px 0px 1px;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
}

.www-blablacar-com-ua .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--wwwblablacarcomuateal-blue);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.www-blablacar-com-ua .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -0.5px;
  font-family: "GT Eesti Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--wwwblablacarcomuajuniper);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.www-blablacar-com-ua .span-sc-9 {
  position: relative;
  flex: 0 0 auto;
  margin-left: -0.5px;
  display: inline-flex;
  align-items: flex-start;
  padding: 0px 0px 1px;
}

.www-blablacar-com-ua .span-kirk-item-2 {
  position: relative;
  min-width: 40px;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-4 {
  display: flex;
  flex-direction: column;
  width: 314.67px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
}

.www-blablacar-com-ua .link-8 {
  display: flex;
  min-height: 85.5px;
  align-items: center;
  padding: 16px 24px 16px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--wwwblablacarcomuanero);
  border-radius: 16px;
}

.www-blablacar-com-ua .overlap-group-wrapper {
  width: 112px;
  position: relative;
  height: 21px;
  top: -1px;
}

.www-blablacar-com-ua .overlap-group {
  position: relative;
  height: 22px;
  top: -1px;
}

.www-blablacar-com-ua .span-sc-10 {
  position: absolute;
  top: 1px;
  left: 0;
  display: inline-flex;
  align-items: flex-start;
  padding: 0px 0px 1px;
}

.www-blablacar-com-ua .text-wrapper-10 {
  position: absolute;
  height: 20px;
  top: 0;
  left: 35px;
  font-family: "GT Eesti Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--wwwblablacarcomuajuniper);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.www-blablacar-com-ua .span-sc-11 {
  position: absolute;
  top: 1px;
  left: 59px;
  display: inline-flex;
  align-items: flex-start;
  padding: 0px 0px 1px;
}

.www-blablacar-com-ua .div-sc-y {
  display: flex;
  width: 976px;
  align-items: flex-start;
  padding: 8px 0px 24px 824.27px;
  position: relative;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .button {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  margin-right: -0.27px;
  all: unset;
  box-sizing: border-box;
}

.www-blablacar-com-ua .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: rgb(10 160 15);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  margin-left: -860px;
}

.www-blablacar-com-ua .text-wrapper-111 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: rgb(10 160 15);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  margin-left: -823px;
}

.www-blablacar-com-ua .div-sc-6 {
  top: 1571px;
  background-color: var(--wwwblablacarcomuanero);
  display: flex;
  flex-direction: column;
  width: 1024px;
  align-items: flex-start;
  padding: 0px 24px;
  position: absolute;
  left: 0;
}

.www-blablacar-com-ua .div-sc-7 {
  height: 164px;
  position: relative;
  width: 476px;
}

.www-blablacar-com-ua .span-sc-12 {
  display: inline-flex;
  padding: 0px 0px 8px;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .text-wrapper-12 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: var(--wwwblablacarcomuateal-blue);
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  white-space: nowrap;
}

.www-blablacar-com-ua .p-sc-7 {
  display: inline-flex;
  padding: 0px 17px 0px 0px;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  width: 485px;
}

.www-blablacar-com-ua .div-sc-8 {
  position: absolute;
  top: 160px;
  left: 134px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .link-9 {
  display: inline-flex;
  min-width: 48px;
  max-width: 208.83px;
  align-items: center;
  padding: 12px 25px;
  position: relative;
  flex: 0 0 auto;
  background-color: rgb(21 123 15);
  border-radius: 9999px;
  overflow: hidden;
}

.www-blablacar-com-ua .span-sc-13 {
  justify-content: center;
  flex: 0 0 auto;
  margin-right: -0.17px;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
}

.www-blablacar-com-ua .div-sc-y-wrapper {
  top: 1925px;
  display: flex;
  flex-direction: column;
  width: 1024px;
  align-items: center;
  padding: 0px 24px;
  position: absolute;
  left: 0;
  background-color: rgb(35, 59, 34);
}

.www-blablacar-com-ua .heading-2 {
  padding: 24px 546px 24px 0px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.www-blablacar-com-ua .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-left: -1px;
  font-family: "GT Eesti Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--wwwblablacarcomuajuniper);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.www-blablacar-com-ua .span-sc-14 {
  position: relative;
  flex: 0 0 auto;
  margin-left: -1px;
  display: inline-flex;
  align-items: flex-start;
  padding: 0px 0px 1px;
}

.www-blablacar-com-ua .span-sc-15 {
  width: 134px;
  position: relative;
  height: 21px;
  top: -1px;
}

.www-blablacar-com-ua .overlap-group-2 {
  position: relative;
  width: 135px;
  height: 22px;
  top: -1px;
}

.www-blablacar-com-ua .text-wrapper-14 {
  position: absolute;
  height: 20px;
  top: 0;
  left: 53px;
  font-family: "GT Eesti Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--wwwblablacarcomuajuniper);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.www-blablacar-com-ua .span-sc-16 {
  position: absolute;
  top: 1px;
  left: 78px;
  display: inline-flex;
  align-items: flex-start;
  padding: 0px 0px 1px;
}

.www-blablacar-com-ua .button-wrapper {
  display: flex;
  width: 976px;
  align-items: flex-start;
  padding: 8px 0px 24px 860.14px;
  position: relative;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .button-2 {
  flex-direction: column;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
  margin-right: -0.14px;
  display: inline-flex;
  align-items: center;
  all: unset;
  box-sizing: border-box;
}

.www-blablacar-com-ua .article-3 {
  width: 1024px;
  padding: 24px 24px 48px;
  position: absolute;
  top: 2138px;
  left: 0;
  background-color: var(--wwwblablacarcomuanero);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .div-sc-9 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .heading-3 {
  padding: 24px 607.92px 24px 0px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.www-blablacar-com-ua .text-wrapper-15 {
  margin-right: -0.92px;
  font-size: 40px;
  line-height: 42px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: var(--wwwblablacarcomuateal-blue);
  letter-spacing: 0;
}

.www-blablacar-com-ua .link-blablalife {
  position: relative;
  width: fit-content;
  margin-top: 67px;
  font-family: "GT Eesti Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: rgb(21 123 15);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  margin-left: -974px;
}

.www-blablacar-com-ua .item-5 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 416.33px;
}

.www-blablacar-com-ua .overlap-group-3 {
  position: absolute;
  width: 293px;
  height: 348px;
  top: 0;
  left: 0;
}

.www-blablacar-com-ua .link-picture-wrapper {
  display: flex;
  flex-direction: column;
  width: 293px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.www-blablacar-com-ua .link-picture {
  display: inline-flex;
  align-items: flex-start;
  padding: 0px 0px 3.99px;
  position: relative;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .IMG-jpg {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 293.33px;
  border-radius: 8px;
  background-image: url(./img/img-3333-300x300-jpg.png);
  background-size: cover;
  background-position: 50% 50%;
}

.www-blablacar-com-ua .p-sc-8 {
  display: flex;
  width: 293px;
  padding: 7px 11.33px 25px 0px;
  position: absolute;
  top: 185px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .SVARGA-wrapper {
  display: flex;
  width: 293px;
  padding: 0px 31.33px 0px 0px;
  position: absolute;
  top: 199px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .div-sc-10 {
  display: flex;
  flex-direction: column;
  width: 293px;
  align-items: flex-start;
  padding: 8px 233.33px 0px 0px;
  position: absolute;
  top: 277px;
  left: 0;
}

.www-blablacar-com-ua .link-10 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: rgb(21 123 15);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.www-blablacar-com-ua .overlap-group-4 {
  position: absolute;
  width: 293px;
  height: 255px;
  top: 0;
  left: 0;
}

.www-blablacar-com-ua .link-picture-2 {
  display: inline-flex;
  align-items: flex-start;
  padding: 0px 0px 4px;
  position: relative;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .UA-product {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 180.09px;
  border-radius: 8px;
  background-image: url(./img/ua-product-illustration-lp-carriers-busstation-safesection-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.www-blablacar-com-ua .p-sc-9 {
  display: flex;
  width: 309px;
  padding: 8px 3.33px 4px 0px;
  position: absolute;
  top: 183px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .element-blablacar-wrapper {
  display: flex;
  width: 303px;
  padding: 0px 13.33px 0px 0px;
  position: absolute;
  top: 236px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .div-sc-11 {
  top: 294px;
  display: flex;
  flex-direction: column;
  width: 293px;
  align-items: flex-start;
  padding: 8px 233.33px 0px 0px;
  position: absolute;
  left: 0;
}

.www-blablacar-com-ua .overlap {
  position: absolute;
  width: 293px;
  height: 256px;
  top: 0;
  left: 0;
}

.www-blablacar-com-ua .my {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 200.92px;
  border-radius: 8px;
  background-image: url(./img/my-20project-1-20-5-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.www-blablacar-com-ua .p-sc-10 {
  display: flex;
  width: 298px;
  padding: 8px 6.33px 4px 0px;
  position: absolute;
  top: 183px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .p-sc-11 {
  display: flex;
  width: 330px;
  padding: 0px 17.33px 0px 0px;
  position: absolute;
  top: 212px;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .div-sc-12 {
  top: 292px;
  display: flex;
  flex-direction: column;
  width: 293px;
  align-items: flex-start;
  padding: 8px 233.33px 0px 0px;
  position: absolute;
  left: 0;
}

.www-blablacar-com-ua .footer-margin {
  display: flex;
  flex-direction: column;
  width: 1024px;
  align-items: flex-start;
  padding: 24px 0px 0px;
  position: absolute;
  top: 3560px;
  left: 0;
}

.www-blablacar-com-ua .footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: transparent;
}

.www-blablacar-com-ua .presentation-sc {
  padding: 0px 4px;
  background-color: var(--wwwblablacarcomuagallery);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .div-section-content {
  display: flex;
  flex-direction: column;
  max-width: 1016px;
  width: 1016px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .div-sc-awefk {
  align-items: flex-start;
  padding: 32px 0px 24px;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  gap: 24px;
  position: relative;
  align-self: stretch;
}

.www-blablacar-com-ua .div-sc-fmbwd {
  display: flex;
  flex-direction: column;
  width: 236px;
  align-items: flex-start;
  gap: 56px;
  padding: 0px 0px 183px;
  position: relative;
  align-self: stretch;
}

.www-blablacar-com-ua .heading-4 {
  flex-direction: column;
  padding: 0px 104px 0px 0px;
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.www-blablacar-com-ua .text-wrapper-16 {
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: var(--wwwblablacarcomuateal-blue);
  font-size: 22px;
  letter-spacing: 0;
  line-height: 24px;
}

.www-blablacar-com-ua .region {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 64px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--wwwblablacarcomuateal-blue);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.www-blablacar-com-ua .item-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 74px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 88px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 98px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-10 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 101px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 114px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .div-sc-13 {
  width: 236px;
  gap: 8px;
  padding: 0px 0px 135px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
}

.www-blablacar-com-ua .heading-5 {
  padding: 0px 106px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: var(--wwwblablacarcomuateal-blue);
  font-size: 22px;
  letter-spacing: 0;
  line-height: 24px;
}

.www-blablacar-com-ua .item-12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 144px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 124px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-14 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 48px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 133px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 138px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .div-sc-14 {
  width: 236px;
  gap: 32px;
  padding: 0px 0px 135px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
}

.www-blablacar-com-ua .heading-6 {
  padding: 0px 30px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 115px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 108px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-19 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 127px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 134px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-21 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 97px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .div-sc-15 {
  flex-direction: column;
  width: 236px;
  align-items: flex-start;
  display: flex;
  gap: 24px;
  position: relative;
  align-self: stretch;
}

.www-blablacar-com-ua .div-sc-16 {
  gap: 56px;
  padding: 0px 0px 32px;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
}

.www-blablacar-com-ua .heading-7 {
  padding: 0px 118px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .link-blablacar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 84px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-22 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 176px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 109px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-24 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 177px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 63px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .item-26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 135px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .div-sc-omxqos {
  align-items: flex-start;
  padding: 0px 0px 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .div-5 {
  display: flex;
  flex-direction: column;
  width: 236px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .pseudo {
  position: absolute;
  width: 236px;
  height: 46px;
  top: 0;
  left: 0;
  background-color: var(--wwwblablacarcomuanero);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--wwwblablacarcomuagallery);
}

.www-blablacar-com-ua .pseudo-2 {
  position: absolute;
  width: 8px;
  height: 6px;
  top: 22px;
  left: 212px;
  border-top-width: 6px;
  border-top-style: solid;
  border-right-width: 4px;
  border-right-style: solid;
  border-left-width: 4px;
  border-left-style: solid;
  border-color: rgb(21 123 15);
}

.www-blablacar-com-ua .options {
  display: flex;
  align-items: center;
  padding: 25px 8px 7px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 4px;
}

.www-blablacar-com-ua .div-6 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 142px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .label {
  position: absolute;
  width: 191px;
  height: 1px;
  top: 0;
  left: 0;
}

.www-blablacar-com-ua .span-2 {
  display: flex;
  flex-direction: column;
  width: 191px;
  align-items: flex-start;
  padding: 0px 158px 0px 0px;
  position: relative;
  top: 8px;
  left: 9px;
}

.www-blablacar-com-ua .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--wwwblablacarcomuajuniper);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 13px;
  white-space: nowrap;
}

.www-blablacar-com-ua .list-3 {
  width: 100%;
  flex: 0 0 auto;
  object-fit: cover;
  position: relative;
  align-self: stretch;
}

.www-blablacar-com-ua .div-section-content-wrapper {
  padding: 0px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .div-sc-17 {
  align-items: flex-start;
  padding: 24px 0px;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  gap: 24px;
  position: relative;
  align-self: stretch;
}

.www-blablacar-com-ua .item-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 756px;
  align-items: center;
  gap: 0px 0px;
  padding: 5.5px 609px 5.5px 0px;
  position: relative;
  align-self: stretch;
}

.www-blablacar-com-ua .text-wrapper-20 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--wwwblablacarcomuajuniper);
  font-size: 16px;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 42px;
  white-space: nowrap;
}

.www-blablacar-com-ua .div-sc-18 {
  width: 236px;
  align-items: center;
  padding: 0px 52px 0px 0px;
  display: flex;
  gap: 24px;
  position: relative;
  align-self: stretch;
}

.www-blablacar-com-ua .blablacar-logo-small {
  position: relative;
  width: 32px;
  height: 27px;
}

.www-blablacar-com-ua .div-margin {
  display: flex;
  flex-direction: column;
  width: 1024px;
  min-height: 843px;
  align-items: flex-start;
  padding: 0px 0px 24px;
  position: absolute;
  top: 0;
  left: 0;
}

.www-blablacar-com-ua .div-bmnop {
  display: flex;
  flex-direction: column;
  min-height: 819px;
  align-items: center;
  padding: 0px 4px 0.02px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--wwwblablacarcomuanero);
}

.www-blablacar-com-ua .div-7 {
  display: flex;
  flex-direction: column;
  width: 1024px;
  height: 819px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}

.www-blablacar-com-ua .picture {
  position: relative;
  flex: 0 0 auto;
  margin-bottom: -4px;
}

.www-blablacar-com-ua .pseudo-3 {
  position: absolute;
  width: 1024px;
  height: 819px;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0) 100%);
}

.www-blablacar-com-ua .div-8 {
  display: flex;
  flex-direction: column;
  max-width: 1016px;
  width: 1016px;
  align-items: flex-start;
  gap: 327.59px;
  padding: 81.89px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .heading-8 {
  height: 163.8px;
  justify-content: center;
  padding: 0px 134.34px 43.8px 134.66px;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.www-blablacar-com-ua .text-wrapper-21 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Medium", Helvetica;
  font-weight: 500;
  color: var(--wwwblablacarcomuanero);
  font-size: 60px;
  text-align: center;
  letter-spacing: 0;
  line-height: 60px;
}

.www-blablacar-com-ua .div-sc-krml-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 245.7px;
  align-items: center;
  justify-content: center;
  padding: 0px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .div-sc-krml {
  display: flex;
  flex-direction: column;
  width: 968px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.www-blablacar-com-ua .search {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 56px;
  background-color: var(--wwwblablacarcomuanero);
  border-radius: 16px;
  box-shadow: 0px 1px 8px #00000033;
}

.www-blablacar-com-ua .div-searchform-only {
  display: flex;
  flex-direction: column;
  width: 263px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 8px;
}

.www-blablacar-com-ua .div-kirk-textfield {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 56px;
}

.www-blablacar-com-ua .label-margin {
  position: absolute;
  width: 40px;
  height: 24px;
  top: 16px;
  left: 0;
}

.www-blablacar-com-ua .combobox {
  position: absolute;
  width: 165px;
  height: 56px;
  top: 1px;
  left: 40px;
}

.www-blablacar-com-ua .overlap-group-5 {
  position: relative;
  height: 21px;
  top: 18px;
}

.www-blablacar-com-ua .div-placeholder {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 102px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.www-blablacar-com-ua .text-wrapper-22 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--www-blablacar-com-ua-GT-eesti-pro-display-regular-18-font-family);
  font-weight: var(--www-blablacar-com-ua-GT-eesti-pro-display-regular-18-font-weight);
  color: var(--wwwblablacarcomuajuniper);
  font-size: var(--www-blablacar-com-ua-GT-eesti-pro-display-regular-18-font-size);
  letter-spacing: var(--www-blablacar-com-ua-GT-eesti-pro-display-regular-18-letter-spacing);
  line-height: var(--www-blablacar-com-ua-GT-eesti-pro-display-regular-18-line-height);
  white-space: nowrap;
  font-style: var(--www-blablacar-com-ua-GT-eesti-pro-display-regular-18-font-style);
}

.www-blablacar-com-ua .div-text-field {
  display: inline-flex;
  align-items: center;
  padding: 0px 4px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.www-blablacar-com-ua .div-editing-view {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 21px;
}

.www-blablacar-com-ua .separator {
  position: absolute;
  width: 1px;
  height: 40px;
  top: 8px;
  left: 271px;
  background-color: var(--wwwblablacarcomuaalto);
}

.www-blablacar-com-ua .separator-2 {
  position: absolute;
  width: 1px;
  height: 40px;
  top: 8px;
  left: 535px;
  background-color: var(--wwwblablacarcomuaalto);
}

.www-blablacar-com-ua .span-sc-fnb-wrapper {
  height: 56px;
  justify-content: center;
  padding: 18px 52.83px 18px 53.17px;
  position: absolute;
  top: 0;
  left: 800px;
  background-color: var(--wwwblablacarcomuacerulean);
  border-radius: 0px 16px 16px 0px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  all: unset;
  box-sizing: border-box;
}

.www-blablacar-com-ua .text-wrapper-23 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "GT Eesti Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--wwwblablacarcomuanero);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.www-blablacar-com-ua .div-sc-jpfedh-wrapper {
  display: flex;
  flex-direction: column;
  width: 263px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 272px;
}

.www-blablacar-com-ua .combobox-2 {
  position: absolute;
  width: 223px;
  height: 56px;
  top: 1px;
  left: 40px;
}

.www-blablacar-com-ua .div-placeholder-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 173px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.www-blablacar-com-ua .div-searchform-date {
  display: inline-flex;
  align-items: center;
  padding: 17px 15.89px 0px 0px;
  position: absolute;
  top: 0;
  left: 537px;
}

.www-blablacar-com-ua .button-3 {
  height: 56px;
  padding: 16px 41.03px 16px 8px;
  position: relative;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  all: unset;
  box-sizing: border-box;
}

.www-blablacar-com-ua .SVG {
  position: relative;
  width: 24px;
  height: 24px;
}

.www-blablacar-com-ua .span-sc-17 {
  display: inline-flex;
  padding: 0px 0px 0px 8px;
  position: relative;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
}

.www-blablacar-com-ua .span-sc-18 {
  display: flex;
  width: 70.08px;
  flex: 0 0 auto;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.www-blablacar-com-ua .text-wrapper-24 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  margin-right: -0.92px;
  font-family: "GT Eesti Pro Display-Regular", Helvetica;
  font-weight: 400;
  color: var(--wwwblablacarcomuateal-blue);
  font-size: 18px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.www-blablacar-com-ua .div-sc-yaha {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 1px;
}

.www-blablacar-com-ua .button-4 {
  height: 56px;
  padding: 18px 64px 18px 0px;
  position: absolute;
  top: 0;
  left: 704px;
  display: inline-flex;
  align-items: center;
  all: unset;
  box-sizing: border-box;
}

.www-blablacar-com-ua .SVG-2 {
  position: relative;
  width: 18px;
  height: 18px;
}

.profile___item {
  margin-top: 12px;
  margin-left: -17px;
  font-family: "GT Eesti Pro Display-Medium", Helvetica;
  position: relative;
  width: fit-content;
  font-weight: 500;
  color: rgb(21 123 15);
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.div-sc-qqzq{
  padding: 2px;
}
  /*менюшка*/
#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex; 
  align-items: center; 
  position: fixed;
  top: 10px;
  left: 90%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 8;

}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  z-index: 6;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 200px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #3C522F;
  box-shadow: -1px 0px 8px rgba(0, 0, 0, .2);
  z-index: 5;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #C2BEB3;
}
#menutoggle:checked ~ .menubtn > span {
  transform: rotate(45deg);
}
#menutoggle:checked ~ .menubtn > span::before {
  top: 0;
  transform: rotate(0);
}
#menutoggle:checked ~ .menubtn > span::after {
  top: 0;
  transform: rotate(90deg);
  z-index: 7;
}
#menutoggle:checked ~ .menubox {
  visibility: visible;
  right: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}

