:root {
  --wwwblablacarcomuanero: rgba(255, 255, 255, 1);
  --wwwblablacarcomuajuniper: rgba(111, 139, 144, 1);
  --wwwblablacarcomuateal-blue: rgba(5, 70, 82, 1);
  --wwwblablacarcomuaharlequin: rgba(45, 190, 255, 1);
  --wwwblablacarcomuaapricot-peach: rgba(249, 204, 178, 1);
  --wwwblablacarcomuarobins-egg-blue: rgba(255, 204, 193, 1);
  --wwwblablacarcomuatradewind: rgba(79, 172, 174, 1);
  --wwwblablacarcomuablack: rgba(0, 0, 0, 1);
  --wwwblablacarcomuavin-rouge: rgba(161, 63, 96, 1);
  --wwwblablacarcomuabig-stone: rgba(22, 45, 56, 1);
  --wwwblablacarcomuasherpa-blue: rgba(0, 81, 86, 1);
  --wwwblablacarcomuarose-fog: rgba(224, 178, 168, 1);
  --wwwblablacarcomuawoodsmoke: rgba(23, 27, 30, 1);
  --wwwblablacarcomuacashmere: rgba(231, 193, 168, 1);
  --wwwblablacarcomuacannon-pink: rgba(143, 65, 96, 1);
  --wwwblablacarcomuacameo: rgba(217, 189, 152, 1);
  --wwwblablacarcomuaronchi: rgba(233, 180, 85, 1);
  --wwwblablacarcomuaspring-green: rgba(255, 230, 138, 1);
  --wwwblablacarcomuaanakiwa: rgba(173, 235, 253, 1);
  --wwwblablacarcomuadeep-sea-green: rgba(10, 71, 82, 1);
  --wwwblablacarcomualoulou: rgba(86, 14, 59, 1);
  --wwwblablacarcomuatussock: rgba(206, 145, 77, 1);
  --wwwblablacarcomuagivry: rgba(249, 207, 196, 1);
  --wwwblablacarcomuatiber: rgba(7, 62, 68, 1);
  --wwwblablacarcomuastratos: rgba(255, 255, 73, 1);
  --wwwblablacarcomuaendeavour: rgba(0, 95, 159, 1);
  --wwwblablacarcomuacerulean: rgba(0, 175, 245, 1);
  --wwwblablacarcomuagallery: rgba(237, 237, 237, 1);
  --wwwblablacarcomuacarnation: rgba(245, 63, 91, 1);
  --wwwblablacarcomuanepal: rgba(149, 171, 189, 1);
  --wwwblablacarcomuagray-chateau: rgba(158, 168, 173, 1);
  --wwwblablacarcomuacosmic: rgba(125, 53, 97, 1);
  --wwwblablacarcomuagothic: rgba(102, 154, 162, 1);
  --wwwblablacarcomuacutty-sark: rgba(84, 123, 127, 1);
  --wwwblablacarcomuaputty: rgba(233, 202, 145, 1);
  --wwwblablacarcomuamuesli: rgba(175, 134, 94, 1);
  --wwwblablacarcomuasulu: rgba(158, 247, 105, 1);
  --wwwblablacarcomuacadet-blue: rgba(169, 183, 192, 1);
  --wwwblablacarcomuaold-copper: rgba(122, 83, 52, 1);
  --wwwblablacarcomuablack-pearl: rgba(4, 30, 33, 1);
  --wwwblablacarcomuacinderella: rgba(252, 225, 216, 1);
  --wwwblablacarcomuacasablanca: rgba(245, 178, 64, 1);
  --wwwblablacarcomuawhiskey: rgba(205, 159, 111, 1);
  --wwwblablacarcomuamuddy-waters: rgba(188, 144, 104, 1);
  --wwwblablacarcomuatobacco-brown: rgba(115, 100, 73, 1);
  --wwwblablacarcomuadaintree: rgba(2, 35, 39, 1);
  --wwwblablacarcomuaopal: rgba(167, 198, 202, 1);
  --wwwblablacarcomuashadow-green: rgba(145, 183, 188, 1);
  --wwwblablacarcomuajungle-mist: rgba(189, 212, 215, 1);
  --wwwblablacarcomuageyser: rgba(206, 215, 222, 1);
  --wwwblablacarcomuasmalt-blue: rgba(83, 140, 148, 1);
  --wwwblablacarcomuacasal: rgba(46, 88, 98, 1);
  --wwwblablacarcomuacalico: rgba(221, 182, 141, 1);
  --wwwblablacarcomuaelm: rgba(29, 109, 117, 1);
  --wwwblablacarcomuagolden-bell: rgba(241, 137, 14, 1);
  --wwwblablacarcomuazinnwaldite: rgba(237, 182, 171, 1);
  --wwwblablacarcomuacorvette: rgba(250, 204, 163, 1);
  --wwwblablacarcomuajava: rgba(25, 180, 216, 1);
  --wwwblablacarcomuacyprus: rgba(1, 53, 58, 1);
  --wwwblablacarcomuacape-palliser: rgba(148, 115, 71, 1);
  --wwwblablacarcomuairish-coffee: rgba(87, 58, 34, 1);
  --wwwblablacarcomuablue-stone: rgba(255, 89, 90, 1);
  --wwwblablacarcomuaburnt-sienna: rgba(237, 106, 94, 1);
  --wwwblablacarcomuadeep-teal: rgba(0, 51, 51, 1);
  --wwwblablacarcomuaming: rgba(50, 112, 122, 1);
  --wwwblablacarcomuaalto: rgba(222, 222, 222, 1);
  --wwwblablacarcomualily-white: rgba(230, 247, 254, 1);
  --wwwblablacarcomuanero-02: rgba(255, 255, 255, 0);
  --wwwblablacarcomuawild-sand: rgba(247, 247, 247, 1);
  --wwwblablacarcomuagray: rgba(134, 134, 134, 1);
  --wwwblablacarcomuahavelock-blue: rgba(90, 144, 220, 1);
  --wwwblablacarcomuaathens-gray: rgba(247, 249, 250, 1);
  --wwwblablacarcomuaabbey: rgba(70, 73, 76, 1);
  --wwwblablacarcomuaalabaster: rgba(249, 249, 249, 1);
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-18-font-family: "GTEesti Pro Display-Medium", Helvetica;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-18-font-weight: 500;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-18-font-size: 18px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-18-letter-spacing: 0px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-18-line-height: 20px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-18-font-style: normal;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-16-font-family: "GTEesti Pro Display-Regular", Helvetica;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-16-font-weight: 400;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-16-font-size: 16px;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-16-letter-spacing: 0px;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-16-line-height: 16px;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-16-font-style: normal;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-30-font-family: "GTEesti Pro Display-Medium", Helvetica;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-30-font-weight: 500;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-30-font-size: 30px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-30-letter-spacing: 0px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-30-line-height: 32px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-30-font-style: normal;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-16-font-family: "GTEesti Pro Display-Medium", Helvetica;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-16-font-weight: 500;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-16-font-size: 16px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-16-letter-spacing: 0px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-16-line-height: 24px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-16-font-style: normal;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-18-font-family: "GTEesti Pro Display-Regular", Helvetica;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-18-font-weight: 400;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-18-font-size: 18px;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-18-letter-spacing: 0px;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-18-line-height: normal;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-18-font-style: normal;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-40-font-family: "GTEesti Pro Display-Medium", Helvetica;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-40-font-weight: 500;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-40-font-size: 40px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-40-letter-spacing: 0px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-40-line-height: 42px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-40-font-style: normal;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-22-font-family: "GTEesti Pro Display-Medium", Helvetica;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-22-font-weight: 500;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-22-font-size: 22px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-22-letter-spacing: 0px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-22-line-height: 24px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-22-font-style: normal;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-13-font-family: "GTEesti Pro Display-Regular", Helvetica;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-13-font-weight: 400;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-13-font-size: 13px;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-13-letter-spacing: 0px;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-13-line-height: 13px;
  --www-blablacar-com-ua-GT-eesti-pro-display-regular-13-font-style: normal;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-60-font-family: "GTEesti Pro Display-Medium", Helvetica;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-60-font-weight: 500;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-60-font-size: 60px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-60-letter-spacing: 0px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-60-line-height: 60px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-60-font-style: normal;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-32-font-family: "GTEesti Pro Display-Medium", Helvetica;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-32-font-weight: 500;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-32-font-size: 32px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-32-letter-spacing: 0px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-32-line-height: 32px;
  --www-blablacar-com-ua-GT-eesti-pro-display-medium-32-font-style: normal;
  --www-blablacar-com-ua-roboto-regular-20-font-family: "Roboto-Regular", Helvetica;
  --www-blablacar-com-ua-roboto-regular-20-font-weight: 400;
  --www-blablacar-com-ua-roboto-regular-20-font-size: 20px;
  --www-blablacar-com-ua-roboto-regular-20-letter-spacing: 0px;
  --www-blablacar-com-ua-roboto-regular-20-line-height: normal;
  --www-blablacar-com-ua-roboto-regular-20-font-style: normal;
  --www-blablacar-com-ua-roboto-regular-14-font-family: "Roboto-Regular", Helvetica;
  --www-blablacar-com-ua-roboto-regular-14-font-weight: 400;
  --www-blablacar-com-ua-roboto-regular-14-font-size: 14px;
  --www-blablacar-com-ua-roboto-regular-14-letter-spacing: 0px;
  --www-blablacar-com-ua-roboto-regular-14-line-height: normal;
  --www-blablacar-com-ua-roboto-regular-14-font-style: normal;
  --www-blablacar-com-ua-roboto-regular-14-underline-font-family: "Roboto-Regular", Helvetica;
  --www-blablacar-com-ua-roboto-regular-14-underline-font-weight: 400;
  --www-blablacar-com-ua-roboto-regular-14-underline-font-size: 14px;
  --www-blablacar-com-ua-roboto-regular-14-underline-letter-spacing: 0px;
  --www-blablacar-com-ua-roboto-regular-14-underline-line-height: normal;
  --www-blablacar-com-ua-roboto-regular-14-underline-font-style: normal;
  --www-blablacar-com-ua-roboto-regular-16-font-family: "Roboto-Regular", Helvetica;
  --www-blablacar-com-ua-roboto-regular-16-font-weight: 400;
  --www-blablacar-com-ua-roboto-regular-16-font-size: 16px;
  --www-blablacar-com-ua-roboto-regular-16-letter-spacing: 0px;
  --www-blablacar-com-ua-roboto-regular-16-line-height: normal;
  --www-blablacar-com-ua-roboto-regular-16-font-style: normal;
}
